/* Font faces */
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-BoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Color tokens */
:root {
  /* Primary */
  --color-red: #802626;
  --color-navy: #253b76;
  --color-m-blue: #0671e0;
  --color-azure: #4196f0;
  --color-sky: #dbedff;
  --color-l-blue: #eef5fc;

  /* Neutral */
  --color-black: #010101;
  --color-text: #212121;
  --color-d-grey: #4d4d4d;
  --color-l-grey: #89939e;
  --color-grey-blue: #abbed1;
  --color-white: #ffffff;

  /* Background */
  --color-bg: #faf9f6;

  /* heights */
  --height-header-nav: 85px;
  --height-footer-nav: 132px;
}

body {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  min-height: 100dvh;
  height: 100dvh;
}

.max-width-container {
  max-width: 1920px;
  height: 100%;
}