.landingImg {
  position: relative;
  height: 580px;
  width: 390px;
}

.landingImg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 580px;
  width: auto;
}

.black {
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.13, 0.15, 0.71, 0.92);
}

.white {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.13, 0.15, 0.71, 0.92);
}

:global(body.dark) .white {
  opacity: 1;
}

:global(body.dark) .black {
  opacity: 0;
}
